<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>Website</title>
    <meta charset="UTF-8"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
    <link th:href="@{/resources/theme/plugins/flag-icon-css/css/flag-icon.min.css}" href="../../resources/theme/plugins/flag-icon-css/css/flag-icon.min.css" rel="stylesheet"/>
    <!--    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"/>
        <link href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css" rel="stylesheet"/>
        <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet"/>-->
    <link rel="shortcut icon" th:href="@{/resources/img/logo/favicon.ico}" href="../../resources/img/logo/favicon.ico"/>

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,400,700' rel='stylesheet' type='text/css'/>

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Gabriela" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet"/>

    <!--<link th:href="@{/resources/css/style.css}" href="../../resources/css/style.css" rel="stylesheet" type="text/css"/>-->

    <link th:href="@{/resources/theme/vendor/bootstrap/bootstrap.min.css}" href="../../resources/theme/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/theme/vendor/icon-awesome/css/font-awesome.min.css}" href="../../resources/theme/vendor/icon-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/theme/vendor/icon-line/css/simple-line-icons.css}" href="../../resources/theme/vendor/icon-line/css/simple-line-icons.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/theme/vendor/icon-etlinefont/style.css}" href="../../resources/theme/vendor/icon-etlinefont/style.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/theme/vendor/icon-line-pro/style.css}" href="../../resources/theme/vendor/icon-line-pro/style.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/theme/vendor/icon-hs/style.css}" href="../../resources/theme/vendor/icon-hs/style.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/theme/vendor/dzsparallaxer/dzsparallaxer.css}" href="../../resources/theme/vendor/dzsparallaxer/dzsparallaxer.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/theme/vendor/dzsparallaxer/dzsscroller/scroller.css}" href="../../resources/theme/vendor/dzsparallaxer/dzsscroller/scroller.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/theme/vendor/dzsparallaxer/advancedscroller/plugin.css}" href="../../resources/theme/vendor/dzsparallaxer/advancedscroller/plugin.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/theme/vendor/animate.css}" href="../../resources/theme/vendor/animate.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/theme/vendor/fancybox/jquery.fancybox.min.css}" href="../../resources/theme/vendor/fancybox/jquery.fancybox.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/theme/vendor/slick-carousel/slick/slick.css}" href="../../resources/theme/vendor/slick-carousel/slick/slick.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/theme/vendor/typedjs/typed.css}" href="../../resources/theme/vendor/typedjs/typed.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/theme/vendor/hs-megamenu/src/hs.megamenu.css}" href="../../resources/theme/vendor/hs-megamenu/src/hs.megamenu.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/theme/vendor/hamburgers/hamburgers.min.css}" href="../../resources/theme/vendor/hamburgers/hamburgers.min.css" rel="stylesheet" type="text/css"/>

    <link th:href="@{/resources/theme/css/unify-core.css}" href="../../resources/theme/css/unify-core.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/theme/css/unify-components.css}" href="../../resources/theme/css/unify-components.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/resources/theme/css/unify-globals.css}" href="../../resources/theme/css/unify-globals.css" rel="stylesheet" type="text/css"/>

    <!-- CSS Customization -->
    <link th:href="@{/resources/theme/css/custom.css}" href="../../resources/theme/css/custom.css" rel="stylesheet" type="text/css"/>

  </head>
  <body>
    <div th:replace="fragments/mainMenu :: #mainMenu"></div>

    <div class="container-fluid" style="margin-top: 20px;">

      <div layout:fragment="contentDiv">
        CONTENT OF THE CHOSEN PAGE.
      </div>
    </div>

    <!--<div th:replace="fragments/footer :: #footer"></div>-->

    <!-- JS Global Compulsory -->
    <script th:src="@{/resources/theme/vendor/jquery/jquery.min.js}" src="../../resources/theme/vendor/jquery/jquery.min.js"></script>
    <script th:src="@{/resources/theme/vendor/jquery-migrate/jquery-migrate.min.js}" src="../../resources/theme/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script th:src="@{/resources/theme/vendor/popper.js/popper.min.js}" src="../../resources/theme/vendor/popper.js/popper.min.js"></script>
    <script th:src="@{/resources/theme/vendor/bootstrap/bootstrap.min.js}" src="../../resources/theme/vendor/bootstrap/bootstrap.min.js"></script>


    <!-- JS Implementing Plugins -->
    <script th:src="@{/resources/theme/vendor/slick-carousel/slick/slick.js}" src="../../resources/theme/vendor/slick-carousel/slick/slick.js"></script>
    <script th:src="@{/resources/theme/vendor/hs-megamenu/src/hs.megamenu.js}" src="../../resources/theme/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script th:src="@{/resources/theme/vendor/dzsparallaxer/dzsparallaxer.js}" src="../../resources/theme/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script th:src="@{/resources/theme/vendor/dzsparallaxer/dzsscroller/scroller.js}" src="../../resources/theme/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script th:src="@{/resources/theme/vendor/dzsparallaxer/advancedscroller/plugin.js}" src="../../resources/theme/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
    <script th:src="@{/resources/theme/vendor/vendor/fancybox/jquery.fancybox.min.js}" src="../../resources/theme/vendor/fancybox/jquery.fancybox.min.js"></script>
    <script th:src="@{/resources/theme/vendor/typedjs/typed.min.js}" src="../../resources/theme/vendor/typedjs/typed.min.js"></script>

    <!-- JS Unify -->
    <script th:src="@{/resources/theme/js/hs.core.js}" src="../../resources/theme/js/hs.core.js"></script>
    <script th:src="@{/resources/theme/js/components/hs.carousel.js}" src="../../resources/theme/js/components/hs.carousel.js"></script>
    <script th:src="@{/resources/theme/js/components/hs.header.js}" src="../../resources/theme/js/components/hs.header.js"></script>
    <script th:src="@{/resources/theme/js/helpers/hs.hamburgers.js}" src="../../resources/theme/js/helpers/hs.hamburgers.js"></script>
    <script th:src="@{/resources/theme/js/components/hs.tabs.js}" src="../../resources/theme/js/components/hs.tabs.js"></script>
    <script th:src="@{/resources/theme/js/components/hs.popup.js}" src="../../resources/theme/js/components/hs.popup.js"></script>
    <script th:src="@{/resources/theme/js/components/text-animation/hs.text-slideshow.js}" src="../../resources/theme/js/components/text-animation/hs.text-slideshow.js"></script>
    <script th:src="@{/resources/theme/js/components/hs.go-to.js}" src="../../resources/theme/js/components/hs.go-to.js"></script>

    <!-- JS Customization -->
    <script th:src="@{/resources/theme/js/custom.js}" src="../../resources/theme/js/custom.js"></script>

    <script>
      $(document).on('ready', function () {
          // initialization of carousel
          $.HSCore.components.HSCarousel.init('.js-carousel');

          // initialization of tabs
          $.HSCore.components.HSTabs.init('[role="tablist"]');

          // initialization of popups
          $.HSCore.components.HSPopup.init('.js-fancybox');

          // initialization of go to
          $.HSCore.components.HSGoTo.init('.js-go-to');

          // initialization of text animation (typing)
          $(".u-text-animation.u-text-animation--typing").typed({
              strings: [
                  "an awesome template",
                  "perfect template",
                  "just like a boss"
              ],
              typeSpeed: 60,
              loop: true,
              backDelay: 1500
          });
      });

      $(window).on('load', function () {
          // initialization of header
          $.HSCore.components.HSHeader.init($('#js-header'));
          $.HSCore.helpers.HSHamburgers.init('.hamburger');

          // initialization of HSMegaMenu component
          $('.js-mega-menu').HSMegaMenu({
              event: 'hover',
              pageContainer: $('.container'),
              breakpoint: 991
          });
      });

      $(window).on('resize', function () {
          setTimeout(function () {
              $.HSCore.components.HSTabs.init('[role="tablist"]');
          }, 200);
      });
    </script>
  </body>
</html>