<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/contentTemplate}">
  <head>
    <title th:text="#{title.login} + ' | ' + #{app.title}"></title>
  </head>
  <body>
    <div layout:fragment="contentDiv">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-lg-4">
          <div class="module">

            <!-- For testing purposes - enable it when you have TEST/PROD environments -->
            <!--<div class="alert alert-success" role="alert" th:if="${@configBean.getEnv()} eq 'TEST'">-->
            <!--<strong th:text="${@configBean.getEnvStyled()}">Test</strong> <span>environment!</span>-->
            <!--</div>-->

            <div class="alert alert-info alert-dismissible fade show" role="alert"
                 th:if="${(param.logout != null) and (param.logout[0] == '')}">
              <span th:text="#{login.logout}">You have been logged out successfully.</span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div th:if="${@errorsBean.badCredentials} and ${(param.error != null) and (param.error[0] == '')}"
                 th:scope="session" class="alert alert-danger alert-dismissible fade show" role="alert">
              <span th:text="#{login.invalid}">Invalid username/password!</span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <form id="loginForm" class="form-login form-wrapper" action="authentication" method="POST">
              <h3 class="title-divider">Login</h3>
              <div class="input-group" style="margin-bottom: 1em;">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-user"></i>
                  </div>
                </div>
                <input type="text" id="usernameInput" class="form-control form-control-rounded" name="username"
                       th:placeholder="#{login.form.username}" autofocus="autofocus"/>
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-lock"></i>
                  </div>
                </div>
                <input type="password" id="passwordInput" class="form-control form-control-rounded password"
                       name="password" th:placeholder="#{login.form.password}"/>
              </div>
              <!--            <div class="form-group">
                            <label class="sr-only" for="usernameInput" th:text="#{login.form.username}">Username</label>
                            <input type="text" id="usernameInput" class="form-control form-control-rounded" name="username"
                                   th:placeholder="#{login.form.username}" autofocus="autofocus"/>
                          </div>-->
              <!--            <div class="form-group">
                            <label class="sr-only" for="passwordInput" th:text="#{login.form.password}">Password</label>
                            <input type="password" id="passwordInput" class="form-control form-control-rounded password"
                                   name="password" th:placeholder="#{login.form.password}"/>
                          </div>-->
              <hr/>
              <!--              <div style="margin-bottom: 1em;">
                              <span th:text="#{login.form.nosign}">Not signed up?</span>
                              <a th:href="@{/signup}" href="#" th:text="#{login.form.signhere}">Sign up here</a>
                              <span>.</span>
                            </div>-->
              <div class="row" style="margin-bottom: 1em;">
                <small class="col-6">
                  <span th:text="#{login.form.nosign}">Not registered?</span>
                  <a th:href="@{/signup}" href="#" th:text="#{login.form.signhere}">Sign up here</a>
                </small>
                <small class="col-6 text-right">
                  <a th:href="@{/forgotPass}" href="#" th:text="#{login.form.forgotpass}">Forgot password?</a>
                </small>
              </div>

              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
              <button type="submit" class="btn btn-primary btn-md d-none d-md-block">
                <i class="fa fa-sign-in-alt"></i>
                <span th:text="#{login.form.button}">Login</span>
              </button>

              <button type="submit" class="mb-1 btn btn-block btn-primary btn-rounded btn-lg d-block d-md-none">
                <i class="fas fa-sign-in-alt"></i>
                <span th:text="#{login.form.button}">Login</span>
              </button>
              <!--<span>|</span>-->
              <!--<small><a href="#">Forgotten Password?</a></small>-->
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>