<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/contentTemplate}">
<head>
    <title th:text="#{title.story.add} + ' | ' + #{app.title}"></title>
</head>
<body>
<div layout:fragment="contentDiv">
    <h2 th:text="#{story.add.title}">Here you can add your personal story</h2>
    <hr/>

    <form th:action="@{/story/add}" th:object="${story}" method="post">
        <div class="form-group">
            <label class="sr-only" for="titleId" th:text="#{story.add.form.title}">Title</label>
            <input type="text" class="form-control form-control-rounded" id="titleId"
                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"
                   th:field="*{title}" th:placeholder="#{story.add.form.title}"/>
            <div class="invalid-feedback" th:errors="*{title}">Error</div>
        </div>
        <div class="form-group">
            <label class="sr-only" for="overviewId" th:text="#{story.add.form.overview}">Overview</label>
            <input type="text" class="form-control form-control-rounded" id="overviewId"
                   th:classappend="${#fields.hasErrors('overview')} ? 'is-invalid'"
                   th:field="*{overview}" th:placeholder="#{story.add.form.overview}"/>
            <div class="invalid-feedback" th:errors="*{overview}">Error</div>
        </div>
        <div class="form-group">
            <label class="sr-only" for="contentTAId" th:text="#{story.add.form.story}">Story...</label>
            <textarea class="form-control" style="border-radius: 15px; border-bottom-right-radius: 0;" id="contentTAId"
                      rows="5"
                      th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"
                      th:field="*{content}" th:placeholder="#{story.add.form.story}"></textarea>
            <!--<input type="text" class="form-control form-control-rounded" id="contentId"-->
            <!--th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"-->
            <!--th:field="*{content}" placeholder="Story..."/>-->
            <div class="invalid-feedback" th:errors="*{content}">Error</div>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit" class="btn btn-success">
            <i class="fas fa-save"></i>
            <span th:text="#{story.add.form.button}">Save story</span>
        </button>
    </form>

</div>
</body>
</html>