<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/contentTemplate}">
<head>
    <title th:text="#{title.story.edit} + ' | ' + #{app.title}"></title>
</head>
<body>
<div layout:fragment="contentDiv">
    <h2>Here you can add your personal story</h2>
    <hr/>

    <form th:action="@{/stories/edit}" th:object="${story}" method="post">
        <div class="form-group">
            <!--<label for="titleId">Title</label>-->
            <input type="text" class="form-control form-control-rounded" id="titleId"
                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"
                   th:field="*{title}" th:value="${story.title}" placeholder="Enter title"/>
            <div class="invalid-feedback" th:errors="*{title}">Error</div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-rounded" id="overviewId"
                   th:classappend="${#fields.hasErrors('overview')} ? 'is-invalid'"
                   th:field="*{overview}" th:value="${story.overview}" placeholder="Short overview of the story"/>
            <div class="invalid-feedback" th:errors="*{overview}">Error</div>
        </div>
        <div class="form-group">
            <!--<label for="contentId">Content</label>-->
            <textarea class="form-control" style="border-radius: 15px; border-bottom-right-radius: 0;" id="contentTAId" rows="5"
                      th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"
                      th:field="*{content}" th:value="${story.content}" placeholder="Story..."></textarea>
            <!--<input type="text" class="form-control form-control-rounded" id="contentId"-->
            <!--th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"-->
            <!--th:field="*{content}" placeholder="Story..."/>-->
            <div class="invalid-feedback" th:errors="*{content}">Error</div>
        </div>
        <input type="hidden" th:field="*{storyId}" th:value="${story.storyId}"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit" class="btn btn-success">
            <i class="fas fa-save"></i>
            <span>Save story</span>
        </button>
    </form>

</div>
</body>
</html>