<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{templates/contentTemplate}">
<head>
    <title th:text="#{title.story.search} + ' | ' + #{app.title}"></title>
</head>
<body>
<div layout:fragment="contentDiv">
    <h2 style="margin-bottom: 30px;">Find every story you'd like</h2>

    <div class="row">
        <div class="col-lg-3">
            <form th:action="@{/story/search}" method="GET" style="border: 1px solid rgba(0,0,0,.125); padding: 20px;">
                <div class="form-group">
                    <label for="titleId">Title</label>
                    <input type="text" class="form-control" id="titleId" th:name="title" placeholder="Enter title"/>
                </div>
                <hr/>
                <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-search"></i>
                    <span>Search story</span>
                </button>
            </form>
            <hr class="d-block d-xs-block d-md-block d-lg-none d-xl-none"/>
        </div>
        <div class="col-lg-6">
            <p th:if="${storiesCount} eq 0">No results found</p>

            <div class="row">
                <div class="col-lg-12" th:each="story : ${stories}">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-10">
                                    <h4 style="margin-bottom: 0;">
                                        <a style="color: inherit;"
                                           th:href="@{'/story/view' + '?id=' + ${story.storyId}}" href="#"
                                           th:text="${story.title}">Title</a>
                                    </h4>
                                </div>
                                <div class="col-2 text-right dropdown">
                                    <a style="color: inherit" href="#" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink"
                                         style="position: absolute; will-change: transform; top: 0; left: 0; transform: translate3d(0px, 30px, 0px);">
                                        <a class="dropdown-item"
                                           th:href="@{'/story/view' + '?id=' + ${story.storyId}}" href="#">View</a>
                                        <a class="dropdown-item" sec:authorize="isAuthenticated()"
                                           th:if="${story.user.userId} eq ${currUserId}" href="#">Edit</a>
                                        <a class="dropdown-item" sec:authorize="isAuthenticated()"
                                           th:if="${story.user.userId} eq ${currUserId}" href="#">Delete</a>
                                        <a class="dropdown-item" sec:authorize="isAuthenticated()"
                                           th:unless="${story.user.userId} eq ${currUserId}" href="#">Report</a>
                                    </div>
                                </div>
                                <!--<div class="col-2 text-right">-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="card-body">
                            <small>
                                <i class="far fa-user"></i>
                                <!--<i class="lnr lnr-user"></i>-->
                                <span th:if="${story.user.userId} eq ${currUserId}"
                                      th:text="${story.user.name} + ' (Me)'"></span>
                                <span th:unless="${story.user.userId} eq ${currUserId}"
                                      th:text="${story.user.name}"></span>
                            </small>
                            <small> |</small>
                            <small>
                                <i class="far fa-clock"></i>
                                <span th:text="${story.createdOn}"></span>
                            </small>
                            <hr style="margin-top: 10px; margin-bottom: 10px;"/>
                            <p class="card-text" th:text="${story.content}">Text</p>

                            <a sec:authorize="isAuthenticated()" th:unless="${story.user.userId} eq ${currUserId}"
                               class="btn btn-outline-success" href="#"
                               th:href="@{'/story/upvote' + '?id=' + ${story.storyId}}">
                                <i class="far fa-thumbs-up"></i>
                            </a>
                            <a sec:authorize="isAuthenticated()" th:unless="${story.user.userId} eq ${currUserId}"
                               class="btn btn-outline-danger" href="#"
                               th:href="@{'/story/downvote' + '?id=' + ${story.storyId}}">
                                <i class="far fa-thumbs-down"></i>
                            </a>
                            <!--<a href="#" class="btn btn-primary">View</a>-->
                            <!--<a href="#" class="btn btn-success" th:if="${story.user.userId} eq ${currUserId}">Edit</a>-->
                            <a style="vertical-align: bottom; float:right;" href="#"
                               th:href="@{'/story/warn' + '?id=' + ${story.storyId}}"
                               class=" btn btn-outline-warning btn-sm"
                               th:unless="${story.user.userId} eq ${currUserId}"
                               sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_DBA')">Warn</a>
                            <!--<a href="#" class="btn btn-danger" th:if="${story.user.userId} eq ${currUserId}">Delete</a>-->
                            <hr style="margin-bottom: 1px;"/>
                            <div class="row">

                                <div class="col-7 text-muted" style="margin: 0;">
                                    <small>
                                        <a href="#" th:text="#{story.comments(${story.comments})}">3 Comments</a>
                                        <a href="#" th:text="#{story.likes(${story.likes})}">2 Likes</a>
                                    </small>
                                </div>
                                <div class="col-5 text-muted">
                                    <div class="text-right">
                                        <small th:text="#{story.views(${story.views})}">283 Views</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <hr class="d-block d-xs-block d-md-block d-lg-none d-xl-none"/>
            <div>
                Encountered a <span class="text-warning">inappropriate</span> story? <b>Report it</b> to the
                administrators.
            </div>
            <br/>
        </div>
    </div>
</div>

</div>
</body>
</html>