<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head></head>

  <body>

    <div id="submenuDiv" class="sidebar">
      <div class="subTitle">Stories menu</div>
      <hr/>
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
        <a th:href="@{/stories/add}" href="#" class="nav-link" sec:authorize="hasRole('ROLE_USER')"
           th:classappend="${submenu eq 'add'} ? 'active'">Add story</a>
        <a th:href="@{/stories/search}" href="#" class="nav-link"
           th:classappend="${submenu eq 'search'} ? 'active'">Search story</a>
      </div>

      <!--      <i class="d-none d-md-block fa fa-angle-right"></i>
            <i class="d-block d-md-none fa fa-angle-left"></i>-->
    </div>

  </body>
</html>