<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/contentTemplate}">
  <head>
    <title th:text="#{title.home.general} + ' | ' + #{app.title}"></title>
  </head>
  <body>
    <div layout:fragment="contentDiv">
      <div class="row">
        <!--<div class="col-md-3 order-md-1 order-2">-->
        <!--<div th:insert="home/submenu :: #submenuDiv"></div>-->
        <!--</div>-->

        <!--<div class="col-md-9 order-md-2 order-1">-->
        <div class="col-12">
          <div class="jumbotron">
            <div class="container-fluid">
              <h1 class="display-4" sec:authorize="isAuthenticated()" th:text="#{home.greeting.personal(${@usersBean.storyPrincipal.getFullName()})}">Welcome to StoryCom, full name</h1>
              <h1 class="display-4" sec:authorize="!isAuthenticated()" th:text="#{home.greeting}">Welcome to StoryCom</h1>
              <div class="lead">
                <blockquote class="blockquote">
                  <p class="mb-0">"When we share our stories, what it does is, it opens up our hearts for other people to share their stories. And it gives us the sense that we are not alone on this journey."</p>
                  <footer class="blockquote-footer">Janine Shepherd <cite title="Source Title">The Global Sisterhood April 26, 2014</cite></footer>
                </blockquote>
              </div>
              <p class="lead">
                <a class="btn btn-success btn-lg" th:href="@{/stories/add}" href="#" role="button" sec:authorize="isAuthenticated()">Create a story</a>
                <a class="btn btn-primary btn-lg" th:href="@{'/stories/' + ${@usersBean.storyPrincipal.username}}" href="#" role="button" sec:authorize="isAuthenticated()">Мy Stories</a>
                <a class="btn btn-success btn-lg" th:href="@{/signup}" href="#" role="button" sec:authorize="!isAuthenticated()">Register</a>
                <a class="btn btn-primary btn-lg" th:href="@{/login}" href="#" role="button" sec:authorize="!isAuthenticated()">Login</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>