<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/testTemplate}">
  <head>
    <title th:text="#{title.test.designTest} + ' | ' + #{app.title}"></title>
  </head>
  <body>
    <div layout:fragment="contentDiv">
      <div class="row">
        <!--<div class="col-md-3 order-md-1 order-2">-->
        <!--<div th:insert="home/submenu :: #submenuDiv"></div>-->
        <!--</div>-->

        <!--<div class="col-md-9 order-md-2 order-1">-->
        <div class="col-12">
          <!--<div class="container" style="border: 1px solid #aaaaaa;">-->
          <div style="border: 1px solid #aaaaaa;">
            <h1>Design test</h1>

            <div class="border border-dark" style="background: #e8e8e8; padding: 10px;">

              <h3 th:text="${story.title}">Title</h3>

              <div class="row" style="margin-bottom: 8px;">
                <div class="col-md-12">
                  <i class="fa fa-clock"></i>
                  <span th:text="${story.createdOn}">15-Nov-2018 15:30</span>
                  <!--<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>-->
                  <!--<i class="fa fa-user"></i>-->
                  <!--<span>Nickname</span>-->
                  <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                  <i class="fa fa-comments"></i>
                  <a href="#" th:text="${story.comments}" style="color: #212529;">56</a>
                  <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                  <i class="fa fa-eye"></i>
                  <span th:text="${story.views}">21</span>
                </div>
              </div>

              <div class="border border-secondary shadow-sm p-3 bg-white rounded">
                <div class="row">
                  <div class="col-md-12">
                    <div th:text="${story.content}">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                      of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                      but also the leap into electronic typesetting, remaining essentially unchanged. It was
                      popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                      and more recently with desktop publishing software like Aldus PageMaker including versions of
                      Lorem Ipsum.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>