<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/testTemplate}">
  <head>
    <title th:text="'Form AJAX | ' + #{app.title}"></title>
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
  </head>
  <body>
    <div layout:fragment="contentDiv">
      <div class="row">
        <!--<div class="col-md-3 order-md-1 order-2">-->
        <!--<div th:insert="home/submenu :: #submenuDiv"></div>-->
        <!--</div>-->

        <!--<div class="col-md-9 order-md-2 order-1">-->
        <div class="col-12">
          <p>Form AJAX</p>

          <form id="mainFormTest" th:action="@{/test/formAjax}" th:object="${test}" method="post">
            <div class="form-group">
              <label for="testOne">Test one</label>
              <input type="text" class="form-control" id="testOne" placeholder="Enter test one" th:field="*{testOne}"/>
            </div>
            <div class="form-group">
              <label for="testTwo">Test two</label>
              <input type="text" class="form-control" id="testTwo" placeholder="Enter test two" th:field="*{testTwo}"/>
            </div>
            <input id="testName" type="hidden" th:field="*{testName}"/>
          </form>

          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ajaxFormModal">
            <i class="fa fa-save"></i>
            <span>AJAX Save</span>
          </button>

          <div class="modal fade" id="ajaxFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="ajaxTest">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Recipient:</label>
                      <input type="text" class="form-control" id="recipient-name" name="recipient">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Message:</label>
                      <textarea class="form-control" id="message-text" name="message"></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button id="submitButton" type="button" class="btn btn-primary">Send message</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script>
        $("#submitButton").click(function (ev) {
          $("#ajaxTest").submit();
        });

        //moje i taka da se vzeme csrf token + beforeSend v AJAX
//        var token = $("meta[name='_csrf']").attr("content");
//        var header = $("meta[name='_csrf_header']").attr("content");

        $('#ajaxTest').on('submit', function (e) {
          e.preventDefault();

          $("#testName").val($("#recipient-name").val());

          $.ajax({
            url: 'formAjax',
            type: 'post',
            data: $("#mainFormTest").serialize(),
//            beforeSend: function (xhr) {
//              xhr.setRequestHeader(header, token);
//            },
            success: function (data) {
              $("#ajaxFormModal").modal('hide');
            },
            error: function (xhr, status, error) {
              alert("error");
            }
          });
        });
      </script>
    </div>
  </body>
</html>