<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/contentTemplate}">
<head>
    <title th:text="#{title.settings.details} + ' | ' + #{app.title}"></title>
    <link rel="stylesheet" th:href="@{/resources/css/form-labels.css}" href="../../resources/css/form-labels.css">
</head>
<body>
<div layout:fragment="contentDiv">
    <div class="row">
        <div class="col-md-3 order-md-1 order-2">
            <div th:insert="settings/submenu :: #submenuDiv"></div>
        </div>

        <div class="col-md-9 order-md-2 order-1">
            <h2>Details</h2>
            <hr/>

            <form action="#" th:action="@{/settings/details}" th:object="${user}" method="post">

                <h4>Social</h4>
                <hr/>
                <div th:unless="${user.userDetails} eq null" th:remove="tag">
                    <div class="form-group row">
                        <div class="col-lg-2 col-md-3 col-12">
                            <label class="custom-social-label" for="facebook">
                                <a class="text-brand-facebook"
                                   th:href="'https://www.facebook.com/' + ${user.userDetails.facebook}" target="_blank"
                                   href="#" th:unless="${user.userDetails.facebook} eq null">Facebook</a>
                                <span class="text-brand-facebook"
                                      th:if="${user.userDetails.facebook} eq null">Facebook</span>
                            </label>
                        </div>
                        <div class="col-lg-10 col-md-9 col-12">
                            <input type="text" id="facebook"
                                   class="form-control form-control-rounded text-brand-facebook"
                                   th:field="*{userDetails.facebook}" th:value="${user.userDetails.facebook}"
                                   placeholder="Facebook account"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-2 col-md-3 col-12">
                            <label class="custom-social-label" for="twitter">
                                <a class="text-brand-twitter"
                                   th:href="'https://twitter.com/' + ${user.userDetails.twitter}" target="_blank"
                                   href="#" th:unless="${user.userDetails.twitter} eq null">Twitter</a>
                                <span class="text-brand-twitter"
                                      th:if="${user.userDetails.twitter} eq null">Twitter</span>
                            </label>
                        </div>
                        <div class="col-lg-10 col-md-9 col-12">
                            <input type="text" id="twitter" class="form-control form-control-rounded text-brand-twitter"
                                   th:field="*{userDetails.twitter}" th:value="${user.userDetails.twitter}"
                                   placeholder="Twitter account"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-2 col-md-3 col-12">
                            <label class="custom-social-label" for="youtube">
                                <a class="text-brand-youtube"
                                   th:href="'https://www.youtube.com/channel/' + ${user.userDetails.youtube}"
                                   target="_blank" href="#" th:unless="${user.userDetails.youtube} eq null">YouTube</a>
                                <span class="text-brand-youtube"
                                      th:if="${user.userDetails.youtube} eq null">YouTube</span>
                            </label>
                        </div>
                        <div class="col-lg-10 col-md-9 col-12">
                            <input type="text" id="youtube" class="form-control form-control-rounded text-brand-youtube"
                                   th:field="*{userDetails.youtube}" th:value="${user.userDetails.youtube}"
                                   placeholder="YouTube account"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-2 col-md-3 col-12">
                            <label class="custom-social-label" for="instagram">
                                <a class="text-brand-instagram"
                                   th:href="'https://www.instagram.com/' + ${user.userDetails.instagram}"
                                   target="_blank" href="#"
                                   th:unless="${user.userDetails.instagram} eq null">Instagram</a>
                                <span class="text-brand-instagram"
                                      th:if="${user.userDetails.instagram} eq null">Instagram</span>
                            </label>
                        </div>
                        <div class="col-lg-10 col-md-9 col-12">
                            <input type="text" id="instagram"
                                   class="form-control form-control-rounded text-brand-instagram"
                                   th:field="*{userDetails.instagram}" th:value="${user.userDetails.instagram}"
                                   placeholder="Instagram account"/>
                        </div>
                    </div>
                </div>

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit" class="btn btn-primary btn-md d-none d-md-block">
                    <i class="fas fa-save"></i>
                    <span>Update details</span>
                </button>

                <button type="submit" class="mb-1 btn btn-block btn-primary btn-rounded btn-lg d-block d-md-none">
                    <i class="fas fa-save"></i>
                    <span>Update details</span>
                </button>
            </form>

        </div>
    </div>
</div>
</body>
</html>