<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head></head>

<body>

<div id="submenuDiv" class="sidebar" style="margin-top: 13px;">
    <ul class="nav nav-section-menu mb-4 py-3">
        <li class="nav-header">Menu</li>
        <li>
            <a th:href="@{/about}" href="#" class="nav-link" th:classappend="${submenu eq 'about'} ? 'active'">
                <span th:text="#{nav.about.general}">About</span>
                <i class="d-none d-md-block fa fa-angle-right"></i>
                <i class="d-block d-md-none fa fa-angle-left"></i>
            </a>
        </li>
        <li>
            <a th:href="@{/about/contact}" href="#" class="nav-link"
               th:classappend="${submenu eq 'contact'} ? 'active'">
                <span th:text="#{nav.about.contact}">Contact</span>
                <i class="d-none d-md-block fa fa-angle-right"></i>
                <i class="d-block d-md-none fa fa-angle-left"></i>
            </a>
        </li>
        <li>
            <a th:href="@{/about/timeline}" href="#" class="nav-link"
               th:classappend="${submenu eq 'timeline'} ? 'active'">
                <span th:text="#{nav.about.timeline}">Timeline</span>
                <i class="d-none d-md-block fa fa-angle-right"></i>
                <i class="d-block d-md-none fa fa-angle-left"></i>
            </a>
        </li>
    </ul>
</div>

</body>
</html>