<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title>Unexpected error | StoryCom</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">
      <h1>Unexpected error occurred! Please contact administrators.</h1>
      <a class="btn btn-primary ml-0" th:href="@{/}" href="#">Go home</a>
    </div>
  </body>
</html>