<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <body>
    <div id="sideMenu">
      <h3 th:text="#{stories.categories}">Categories</h3>
      <hr/>

      <div id="categoriesDiv"></div>

      <!--      <form th:action="@{/stories}" method="get">
              <div class="form-group">
                <label>Items per page</label>
                <select class="form-control form-control-sm" name="limit">
                  <option value="2">2</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="8">8</option>
                </select>
                <button type="submit" class="btn btn-outline-dark btn-sm ml-0">Apply</button>
              </div>
            </form>-->

      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var categoriesCountUrl = /*[[@{/categories/count}]]*/;
                var currentCat = /*[[${cat}]]*/;
        /*]]>*/

        function getCategoriesCount() {
          $.ajax({
            url: categoriesCountUrl,
            type: 'get',
            data: {currentCat: currentCat},
            success: function (data)
            {
              $("#categoriesDiv").empty().append(data);
            },
            error: function (xhr, status, error)
            {
              alert("fail");
            }
          });
        }

        getCategoriesCount();
      </script>
    </div>

    <div id="categoryList">
      <h6 class="font-weight-bold" th:text="#{stories.globalCount(${#numbers.formatDecimal(globalStoriesCount, 1, 'WHITESPACE', 0, 'DEFAULT')})}">Total stories</h6>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="#" th:href="@{/stories?cat=love}" th:classappend="${currentCategory eq 'love'} ? 'text-success'">
            <i class="fas fa-heart"></i>
            <span th:text="#{stories.categories.1}">Love</span>   
          </a>
          <span class="badge badge-pill" th:text="${love}" th:classappend="${currentCategory eq 'love'} ? 'badge-success' : 'badge-primary'">0</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="#" th:href="@{/stories?cat=teen}" th:classappend="${currentCategory eq 'teen'} ? 'text-success'">
            <i class="fas fa-user"></i>
            <span th:text="#{stories.categories.2}">Teen</span>
          </a>
          <span class="badge badge-pill" th:text="${teen}" th:classappend="${currentCategory eq 'teen'} ? 'badge-success' : 'badge-primary'">0</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="#" th:href="@{/stories?cat=family}" th:classappend="${currentCategory eq 'family'} ? 'text-success'">
            <i class="fas fa-users"></i>
            <span th:text="#{stories.categories.3}">Family</span>
          </a>
          <span class="badge badge-pill" th:text="${family}" th:classappend="${currentCategory eq 'family'} ? 'badge-success' : 'badge-primary'">0</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="#" th:href="@{/stories?cat=health}" th:classappend="${currentCategory eq 'health'} ? 'text-success'">
            <i class="fas fa-heartbeat"></i>
            <span th:text="#{stories.categories.4}">Health</span>
          </a>
          <span class="badge badge-pill" th:text="${health}" th:classappend="${currentCategory eq 'health'} ? 'badge-success' : 'badge-primary'">0</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="#" th:href="@{/stories?cat=education}" th:classappend="${currentCategory eq 'education'} ? 'text-success'">
            <i class="fas fa-graduation-cap"></i>
            <span th:text="#{stories.categories.5}">Education</span>
          </a>
          <span class="badge badge-pill" th:text="${education}" th:classappend="${currentCategory eq 'education'} ? 'badge-success' : 'badge-primary'">0</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="#" th:href="@{/stories?cat=sport}" th:classappend="${currentCategory eq 'sport'} ? 'text-success'">
            <i class="fas fa-running"></i>
            <span th:text="#{stories.categories.6}">Sport</span>
          </a>
          <span class="badge badge-pill" th:text="${sport}" th:classappend="${currentCategory eq 'sport'} ? 'badge-success' : 'badge-primary'">0</span>
        </li>
      </ul>

      <div class="d-flex justify-content-end" th:if="${isEmpty eq 1}">
        <a th:href="@{/stories}" href="#" class="btn btn-outline-dark btn-sm" th:text="#{btn.clear}">Clear</a>
      </div>
    </div>

    <div id="commentDiv" th:remove="tag">
      <div th:each="c : ${comments}" th:unless="${#lists.isEmpty(comments)}" th:with="isAuthor=${c.user.userId eq story.user.userId}">

        <h6 class="d-inline fas fa-feather-alt" data-toggle="tooltip" data-placement="bottom"
            th:title="#{story.author}" th:if="${isAuthor and !story.anonymous}"></h6>
        <h6 class="d-inline fas fa-user-circle" sec:authorize="isAuthenticated()" data-toggle="tooltip"
            data-placement="bottom" th:title="#{story.me}" th:if="${session.userId eq c.user.userId}"></h6>

        <h6 class="font-weight-bold d-inline" th:text="${c.user.fullName}">John Doe</h6>
        <span>&bull;</span>
        <h6 class="d-inline text-muted" style="font-size: 14px;" th:utext="${#dates.format(c.createdOn, #messages.msg('format.datetime5'))}">Visited on 25.05.2020</h6>
        <div class="mt-2 mb-3 text-muted" th:utext="${c.content}">Comment text here</div>
      </div>
      <div th:if="${hasMore}">
        <a class="text-primary font-weight-bold" onclick="getComments()">
          <i class="fas fa-caret-down"></i>
          <span th:text="#{story.comments.showmore}">Show more</span>
        </a>
      </div>
      <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
          $('[data-toggle="tooltip"]').tooltip();
        });
      </script>
    </div>
  </body>
</html>