<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <body>

    <footer id="footer" class="navbar-dark text-center" style="background-color: #4d96cc; padding: 20px; margin-top: 1em;">
      <span style="color: #fff;">
        <span>&copy;</span>
        <span>2018 - 2019</span>
        <a href="https://github.com/aarshinkov/StoryCom" target="_blank" style="color: #fff; text-decoration: underline;">StoryCom.</a>
        <span>All Rights Reserved. Developed by</span>
        <a href="https://github.com/aarshinkov/" target="_blank" style="color: #fff; text-decoration: underline;">Atanas Arshinkov</a>
      </span>
    </footer>

    <!--    <footer id="footer" class="py-3 footer-light"
                style="border-color: inherit; margin-top: 50px; position: relative;">
          <div class="container">
            <div class="row">
              @todo: replace with company copyright details
              <div class="col-md-6">
                <p class="mb-0 text-sm">
                  <span>Copyright 2018 &copy;</span>
                  <a th:href="@{/}">StoryCom</a>
                </p>
                <ul class="list-inline footer-links mb-0 text-sm">
                  <li class="list-inline-item"><a href="#">Terms</a></li>
                  <li class="list-inline-item"><a href="#">Privacy</a></li>
                  <li class="list-inline-item"><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-6 flex-valign">
                <div class="float-md-right ml-md-auto">
                  @todo: replace with company social media details
                  <a href="#" class="btn btn-sm btn-icon btn-dark btn-rounded">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="#" class="btn btn-sm btn-icon btn-dark btn-rounded">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#" class="btn btn-sm btn-icon btn-dark btn-rounded">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                  <a href="#" class="btn btn-sm btn-icon btn-dark btn-rounded">
                    <i class="fab fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </footer>-->
  </body>
</html>