<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <body>
    <div id="notify">
      <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var successMsg = /*[[${msgSuccess ne null ? msgSuccess : session.msgSuccess}]]*/;
        var errorMsg = /*[[${msgError ne null ? msgError : session.msgError}]]*/;
        /*]]>*/

        [[${#httpSession.removeAttribute('msgSuccess')}]];
        [[${#httpSession.removeAttribute('msgError')}]];
      if (successMsg !== null)
      {
        notifySuccess();
      }
      
      if (errorMsg !== null)
      {
        notifyError();
      }
      
      function notifySuccess()
      {
        $.notify({
          icon: "fas fa-check-circle",
          message: successMsg
        }, {
          type: 'success',
          allow_dismiss: true,
          animate: {
            enter: 'animated fadeInDown',
            exit: 'animated fadeOutUp'
          },
          placement: {
            from: "top",
            align: "right"
          },
          offset: {
            x: 15,
            y: 70
          }
        });
      }
      
      function notifyError()
      {
        $.notify({
          icon: "fas fa-times-circle",
          message: errorMsg
        }, {
          type: 'danger',
          allow_dismiss: true,
          animate: {
            enter: 'animated fadeInDown',
            exit: 'animated fadeOutUp'
          },
          placement: {
            from: "top",
            align: "right"
          },
          offset: {
            x: 15,
            y: 70
          }
        });
      }
      </script>
    </div>
  </body>
</html>