<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/contentTemplate}">
  <head>
    <title th:text="#{title.admin.users} + ' | ' + #{app.title}"></title>
  </head>
  <body>
    <div layout:fragment="contentDiv">
      <h2>Registered users</h2>
      <hr/>
      <p th:text="'Showing ' + ${#lists.size(users)} + ' of ' + ${#lists.size(users)} + ' users'">Showing 1 of 10 users</p>
      <div class="row">
        <div class="col-12 col-lg-3 col-md-6 text-center" style="margin-bottom: 1em;" th:each="user : ${users}">
          <div class="custom-card">
            <h4 th:text="${user.userFullName}" style="margin-bottom: 0; margin-top: 1em; color: #4d96cc; font-weight: bold;">Full name</h4>
            <small class="text-muted" th:text="'@' + ${user.username}">@username</small>
            <p>
              <i class="fas fa-envelope" style="color: 5c5c5c;"></i>
              <span th:text="${user.email}" style="font-size: 15px; color: #5c5c5c;">Email</span>
            </p>
            <hr/>
            <div class="row" style="padding-bottom: 1em;">
              <div class="col-4 text-center" th:each="role : ${user.roles}">
                <i th:if="${role.rolename} eq 'ADMIN'" th:title="${role.displayName}"
                   class="fas fa-users-cog" style="font-size: 3em; color: #5c5c5c;"></i>
                <i th:if="${role.rolename} eq 'USER'" th:title="${role.displayName}"
                   class="fas fa-user" style="font-size: 3em; color: #5c5c5c;"></i>
                <i th:if="${role.rolename} eq 'DBA'" th:title="${role.displayName}"
                   class="fas fa-database" style="font-size: 3em; color: #5c5c5c;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--            <div class="row"> 
                      <div class="col-12 col-md-6" th:each="user : ${users}">
                          <div class="card d-flex align-items-stretch" style="height: 100%;">
                              <h5 class="card-header">
                                  <a href="#" th:if="${user.userId} eq ${@usersBean.storyPrincipal.userId}" title="View my profile"
                                     class="text-red" th:text="${user.userFullName}">Name</a>
                                  <a href="#" th:unless="${user.userId} eq ${@usersBean.storyPrincipal.userId}"
                                     th:title="'View ' + ${user.userFullName} + '\'s profile'"
                                     th:text="${user.userFullName}">Name</a>
                              </h5>
                              <div class="card-body" style="padding-top: 0;">
                                  <div class="card-title text-muted">
                                      <small th:text="'Member since ' + ${user.createdOn}"></small>
                                      <small> | </small>
                                      <small th:if="${#lists.size(user.roles)} ne 1">Roles - </small>
                                      <small th:if="${#lists.size(user.roles)} eq 1">Role - </small>
                                      <small th:each="role : ${user.roles}">
                                          <i th:if="${role.rolename} eq 'ADMIN'" th:title="${role.displayName}"
                                             class="fas fa-users-cog"></i>
                                          <i th:if="${role.rolename} eq 'USER'" th:title="${role.displayName}"
                                             class="fas fa-user"></i>
                                          <i th:if="${role.rolename} eq 'DBA'" th:title="${role.displayName}"
                                             class="fas fa-database"></i>
                                      </small>
                                  </div>
                                  <p class="card-text">Some other information.</p>
                                  <div class="social-media-branding social-media-branding-sm"
                                       th:unless="${user.userDetail} eq null">
                                      @todo: replace with real social share links 
                                      <a href="#" th:unless="${user.userDetail.facebook} eq null"
                                         th:href="'https://www.facebook.com/' + ${user.userDetail.facebook}" target="_blank"
                                         style="text-decoration: none;" class="text-brand-facebook">
                                          <i class="fab fa-facebook-square icon-2x"></i>
                                      </a>
                                      <a href="#" th:unless="${user.userDetail.twitter} eq null"
                                         th:href="'https://twitter.com/' + ${user.userDetail.twitter}" target="_blank"
                                         style="text-decoration: none;" class="text-brand-twitter">
                                          <i class="fab fa-twitter-square icon-2x"></i>
                                      </a>
                                      <a href="#" th:unless="${user.userDetail.youtube} eq null"
                                         th:href="'https://www.youtube.com/channel/' + ${user.userDetail.youtube}"
                                         target="_blank" style="text-decoration: none;" class="text-brand-youtube">
                                          <i class="fab fa-youtube icon-2x"></i>
                                      </a>
                                      <a href="#" th:unless="${user.userDetail.instagram} eq null"
                                         th:href="'https://www.instagram.com/' + ${user.userDetail.instagram}" target="_blank"
                                         style="text-decoration: none;" class="text-brand-instagram">
                                          <i class="fab fa-instagram icon-2x"></i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
      
                                      <div class="col-12 col-md-6" th:each="user : ${users}">
                                          <div class="team-member">
                                              <div class="row">
                                                  <div class="col-12">
                                                      <h4 class="name">
                                                          <a href="#" th:if="${user.userId} eq ${@usersBean.storyPrincipal.userId}" title="View my profile"
                                                             class="text-red" th:text="${user.userFullName}">Name</a>
                                                          <a href="#" th:unless="${user.userId} eq ${@usersBean.storyPrincipal.userId}"
                                                             th:title="'View ' + ${user.userFullName} + '\'s profile'"
                                                             th:text="${user.userFullName}">Name</a>
                                                      </h4>
                      
                                                      <span th:each="role : ${user.roles}">
                                                          <i th:if="${role.rolename} eq 'ADMIN'" th:title="${role.displayName}"
                                                             class="fas fa-users-cog"></i>
                                                          <i th:if="${role.rolename} eq 'USER'" th:title="${role.displayName}"
                                                             class="fas fa-user"></i>
                                                          <i th:if="${role.rolename} eq 'DBA'" th:title="${role.displayName}"
                                                             class="fas fa-database"></i>
                                                      </span>
                      
                                                      <p class="role" th:text="${user.roles}">Roles, separated with comma</p>
                                                      <div th:each="role : ${user.roles}">
                                                      <span th:text="${role.displayName}">Role</span>
                                                      </div>
                                                      <p>Some other information</p>
                                                      <div class="social-media-branding social-media-branding-sm"
                                                           th:unless="${user.userDetail} eq null">
                                                          @todo: replace with real social share links 
                                                          <a href="#" th:unless="${user.userDetail.facebook} eq null"
                                                             th:href="'https://www.facebook.com/' + ${user.userDetail.facebook}" target="_blank"
                                                             style="text-decoration: none;" class="text-brand-facebook">
                                                              <i class="fab fa-facebook-square icon-2x"></i>
                                                          </a>
                                                          <a href="#" th:unless="${user.userDetail.twitter} eq null"
                                                             th:href="'https://twitter.com/' + ${user.userDetail.twitter}" target="_blank"
                                                             style="text-decoration: none;" class="text-brand-twitter">
                                                              <i class="fab fa-twitter-square icon-2x"></i>
                                                          </a>
                                                          <a href="#" th:unless="${user.userDetail.youtube} eq null"
                                                             th:href="'https://www.youtube.com/channel/' + ${user.userDetail.youtube}"
                                                             target="_blank" style="text-decoration: none;" class="text-brand-youtube">
                                                              <i class="fab fa-youtube icon-2x"></i>
                                                          </a>
                                                          <a href="#" th:unless="${user.userDetail.instagram} eq null"
                                                             th:href="'https://www.instagram.com/' + ${user.userDetail.instagram}" target="_blank"
                                                             style="text-decoration: none;" class="text-brand-instagram">
                                                              <i class="fab fa-instagram icon-2x"></i>
                                                          </a>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                  </div>-->
    </div>
  </body>
</html>