<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/contentTemplate}">
  <head>
    <title th:text="${user.userFullName} + ' | ' + #{app.title}"></title>
  </head>
  <body>
    <div layout:fragment="contentDiv">

      <h2 th:text="'Stories from ' + ${@usersBean.storyPrincipal.fullName}">First name's stories</h2>
      <hr/>
      <div class="row">
        <div class="col-md-2 order-md-1 order-2">
          <div class="module">
            <div th:insert="profile/submenu :: #submenuDiv"></div>
          </div>
        </div>

        <div class="col-md-10 order-md-2 order-1">
          <div th:insert="stories/story :: #storyDiv"></div>
        </div>
      </div>
    </div>
  </body>
</html>