<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <body>
    <div id="mainMenu">
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark blue-gradient mb-4">

        <div class="container">
          <!-- Navbar brand -->
          <a class="navbar-brand" th:href="@{/}" href="#" th:text="#{app.name}">StoryCom</a>

          <!-- Collapse button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                  aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Collapsible content -->
          <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav">
              <li class="nav-item" th:classappend="${globalMenu eq 'home'} ? 'active'">
                <a class="nav-link" th:href="@{/}" href="#" th:text="#{nav.home}">Home</a>
              </li>
              <li class="nav-item" th:classappend="${globalMenu eq 'stories'} ? 'active'">
                <a class="nav-link" th:href="@{/stories}" href="#" th:text="#{nav.stories}">Stories</a>
              </li>
              <li class="nav-item" sec:authorize="hasRole('ADMIN')"
                  th:classappend="${globalMenu eq 'users'} ? 'active'">
                <a class="nav-link" th:href="@{/users}" href="#" th:text="#{nav.users}">Users</a>
              </li>
            </ul>
            <!-- Links -->

            <ul class="navbar-nav ml-auto">
              <li class="nav-item" th:classappend="${globalMenu eq 'login'} ? 'active'" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/login}" href="#" th:text="#{nav.login}">Login</a>
              </li>
              <li class="nav-item" th:classappend="${globalMenu eq 'signup'} ? 'active'" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/signup}" href="#" th:text="#{nav.signup}">Signup</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="langDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  <!--<i class="fas fa-user-circle"></i>-->
                  <i class="flag-icon" th:classappend="'flag-icon-' + #{flag.curr}"></i>
                  <!--<span th:text="#{nav.lang. + #{lang.curr}}">Language</span>-->
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-primary" aria-labelledby="langDropdown">
                  <a class="dropdown-item" href="?lang=en">
                    <i class="flag-icon flag-icon-gb"></i>
                    <span th:text="#{nav.lang.en}">English</span>
                  </a>
                  <a class="dropdown-item" href="?lang=bg">
                    <i class="flag-icon flag-icon-bg"></i>
                    <span th:text="#{nav.lang.bg}">Bulgarian</span>
                  </a>
                </div>
              </li>
              <!-- Dropdown -->
              <li class="nav-item dropdown" th:classappend="${globalMenu eq 'profile'} ? 'active'"
                  sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" id="profileDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user-circle"></i>
                  <span th:text="${session.user}">John Doe</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-primary"
                     aria-labelledby="profileDropdown">
                  <a class="dropdown-item" th:classappend="${submenu eq 'profile'} ? 'active'"
                     href="#" th:href="@{/profile}">
                    <i class="fas fa-user-circle"></i>
                    <span th:text="#{nav.profile}">Profile</span>
                  </a>
                  <a class="dropdown-item" th:classappend="${submenu eq 'settings'} ? 'active'"
                     href="#" th:href="@{/settings}">
                    <i class="fas fa-cog"></i>
                    <span th:text="#{nav.profile.settings}">Settings</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item text-danger" onclick="$('#formLogout').submit();" href="#">
                    <i class="fas fa-sign-out-alt"></i>
                    <span th:text="#{nav.logout}">Logout</span>
                  </a>
                  <form sec:authorize="isAuthenticated()" style="visibility: hidden;" id="formLogout" method="post" action="#" th:action="@{/logout}"></form>
                </div>
              </li>
            </ul>
          </div>
          <!-- Collapsible content -->
        </div>
      </nav>
      <!--/.Navbar-->
    </div>
  </body>
</html>